@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .accordion-header {
    @apply duration-300
      flex flex-row
      hover:bg-orange-200 hover:rounded-md hover:scale-105
      items-center
      justify-between
      p-2
      rounded-md
      w-full;
  }

  .accordion-panel {
    @apply hidden p-2;
  }

  .external-link {
    @apply after:content-['_↗'] font-normal text-blue-500;
  }

  .overlay {
    @apply duration-150
      fixed
      flex
      flex-col
      gap-4
      h-full
      invisible
      items-center
      justify-center
      left-0
      opacity-0
      top-0
      transition-all
      w-full
      z-30;

    background-color: rgba(0, 0, 0, 0.75);
  }

  .overlay img {
    @apply h-auto rounded-sm w-auto;

    max-width: 90%;
    max-height: 90%;
  }

  .overlay p {
    @apply decoration-2 decoration-orange-400 text-sm text-white underline;
  }

  .nav-item {
    @apply duration-300
      hover:bg-orange-100
      text-center text-xs sm:tracking-widest
      p-2
      rounded-md
      uppercase;
  }

  .location-card {
    @apply bg-orange-100
      border border-orange-200
      duration-300
      flex flex-col items-start justify-between
      gap-2
      hover:scale-95
      px-4 py-2
      rounded-md
      text-gray-700
      mb-4
      w-full;
  }

  .location-tag {
    @apply px-2 text-white text-sm bg-orange-400 rounded-md;
  }

  body {
    @apply font-light tracking-wide;
  }

  h2 {
    @apply font-semibold text-lg sm:tracking-widest uppercase;
  }
}
